body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/src/assets/Roboto-Regular.ttf) format("truetype");
}

#root {
  width: 100vw;
  font-family: "Roboto-Regular";
}

